*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

*.zip
tfplan.out
.terraform.lock.hcl
